* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*scrollbar-width: thin;*/
}

::-webkit-scrollbar {
    width: 0.8em;
    height: 0.8em;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

html, body {
    font-family: monospace;
    font-size: 1rem;

    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: #006bac; /* TU blue */
    color: white;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:link, a:visited, a:active {
    color: inherit;
}

select {
    padding: 0.25em;
}

#bar {
    flex-grow: 0;

    display: flex;
    align-items: center;
    gap: 1em;
    padding-left: 1em;
    padding-right: 1em;
}
#bar > * {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    height: 100%;
}
#bar img {
    max-height: 3em;
}
#bar > span:first-of-type {
    padding-right: 1em;
    border-right: 1px solid #e4eef4;
}
#bar > span > * {
    display: block;
}

#title > :first-child {
    font-weight: bold;
    font-size: 1.5em;
}
#title > :nth-child(2) {
    font-size: 0.8em;
}

#viewport {
    flex-grow: 1;

    position: relative;
}

#viewport > * {
    background: #c32d9b; /* E193-02 magenta, a.k.a. CG magenta */
    position: absolute;
    width: 100%;
    height: 100%;
}

#webGpuCanvas {
	
}

#gui {
    background: transparent;

    display: flex;
    align-items: flex-start;

    padding: 0.5em;
}